body{
  background-color : grey
}

table{
  background-color : grey
}
h1 {
  color: blue;
  height:100px;
  background-color: grey;
  padding: 30px
  /* margin: 30px */
}

.table1{
  background-color :#224466;
  boreder: solid
}

.table1h{
  border: solid;
  border-color:red;
  width: 50px
  height: 100px
}

td{
  border: solid:
}

#tab1d1{
  color:aqua;
background-color: white;
}

#tab2d2{
  background-color: blue;
}

#nav{
  background-color: blue;
  height:100px
  width: 500px
}
#footer{
  background-color: black;
  height: 100px;
  width: 500px;
}
